.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 50px);
    padding: 20px 0;
    box-sizing: border-box;
}

.input{
    font-weight: 400;
    border-style: none;
    border-bottom: 2px solid var(--inputBorderColor);
}

.input:focus {
    outline: none;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover, 
.input:-webkit-autofill:focus, 
.input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px var(--secondaryColor) inset !important;
    -webkit-box-shadow: 0 0 0 30px var(--secondaryColor) inset !important;
}

.input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--inputBorderColor);
    opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--inputBorderColor);
}

.input::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--inputBorderColor);
}

.input, .button {
    width: 100%;
    margin: 20px 0;
    padding: 10px 0;
    font-size: 16px;
}

.button {
    font-weight: 600;
    margin-top: 25px;
    border-width: 2px;
    border-radius: 7px;
    border-style: solid;
    background-color: var(--secondaryColor);
    transition: background-color, color .1s ease-in-out;
}

.button:hover {
    cursor: pointer;
    color: var(--secondaryColor);
}

.loginButton {
    border-color: var(--loginButtonColor);
    color: var(--loginButtonColor);
}

.loginButton:hover {
    background-color: var(--loginButtonColor);
}

.signUpButton {
    border-color: var(--signUpButtonColor);
    color: var(--signUpButtonColor);
}

.signUpButton:hover {
    background-color: var(--signUpButtonColor);
}


@media (min-width: 400px) {
    .form {
        min-height: calc(100vh - 60px);
    }
}

@media (min-width: 440px) {
    .input, .button {
        width: 400px;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .input, .button {
        font-size: 20px;
    }
    .button {
        border-radius: 10px;
    }
}

@media (min-width: 1000px) {
    .form {
        min-height: calc(100vh - 70px);
    }
    .input, .button{
        width: 450px;
    }
}

@media (min-width: 1200px) {
    .form {
        min-height: calc(100vh - 80px);
    }
}